.hero-container{
    background-image: radial-gradient(rgba(20, 21, 51, 0.7), rgba(20, 21, 51, 0.9)), url(../assets/header-picture.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
